Package: com.example.qqfloatball
Name: QQFloatBall
Version: 1.5.0
Description: QQFloatBall 1.5.0 手动抓包(不点停止不停止)+打开等级页/抓取/停止三按钮
Depends: mobilesubstrate
Maintainer: 傘
Section: Tweaks
Architecture: iphoneos-arm64e
