Package: com.example.qqfloatball
Name: QQFloatBall
Version: 1.4.7
Description: QQFloatBall TrollStore fat (arm64+arm64e) - 2026-08-30 巨魔注入路线
Depends: mobilesubstrate
Maintainer: 傘
Section: Tweaks
Architecture: iphoneos-arm64e
