Package: com.example.qqfloatball
Name: QQFloatBall
Version: 1.2.4
Description: QQ floating ball - tap to show alert
Depends: mobilesubstrate
Maintainer: 傘
Section: Tweaks
Architecture: iphoneos-arm64e
